<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments::head">

</head>
<body>
    <h1>Your password input incorrectly. Please, try again.</h1>
    <div th:fragment="add_Form_second">
        <form method="post" action="added">
            <div class="form-group">
                <label>Name
                    <input type="text" name="name" th:value="${name}" class="form-control">
                </label>
                <label>Email
                    <input type="email" name="email" th:value="${email}" class="form-control">
                </label>
                <label>Password
                    <input type="password" name="password" class="form-control">
                    <label>Password
                        <input type="password" name="verify" class="form-control">
                    </label>

                    <label>Submit
                        <input type="submit" name="Submit" class="form-control">
                    </label>
            </div>
        </form>
    </div>

</body>
</html>